@charset "utf-8";

/*@font-face{
	font-family: 'Noto';
	src: url(../fonts/NotoSansCJKtc-Regular.otf);
}*/

html{
	width: 100%;
	height: 100%;
}

body{
  margin:0px;
  padding: 0px;
  width: 100%;
  height: 100%;
}

.wraper{
	background-color: #FFFFFF;
	font-family: 'PT Sans', sans-serif, 'Noto Sans CJK TC', Microsoft JhengHei;
  	
}


.head{
	height: 9%;
	width: 100%;
	background-color: #333333;
	border: 0px;
	text-align: center;
}


.content{
	height: 76%;
	border: 0px;
}


.content_title{
	width: 100%;
	height: 100%;
	color: #1793d1;
	font-size: 40px;
	text-align: center;
	vertical-align: center;
}


.content_title_signup_signin{
	width: 100%;
	height: 90%;
	color: #000000;
	font-size: 20px;
	vertical-align: center;
}


.content_signup_Bcra{
	border:0px;
	background-color: transparent;
	background-image: url(../images/Bcreataccount_1.png);
	color: #FFFFFF;
	font-size:18px;
	font-family: 'Arvo', serif;
	cursor:pointer
}


.content_signup_Bcra:hover{
	background-image: url(../images/Bcreataccount_2.png);
}


.content_signin_Bsignin{
	border:0px;
	background-color: transparent;
	background-image: url(../images/Bsignin_1.png);
	color: #FFFFFF;
	font-size:18px;
	font-family: 'Arvo', serif;
	cursor:pointer
}


.content_signin_Bsignin:hover{
	background-image: url(../images/Bsignin_2.png);
}


.content_information_table1{
	width: 100%;
	height: 50%;
	color: #000000;
	font-size: 18px;
	vertical-align: center;
}


.content_information_table2{
	width: 100%;
	height: 25%;
	color: #000000;
	font-size: 18px;
	vertical-align: center;
}


.content_information_table3{
	width: 100%;
	height: 15%;
	color: #000000;
	font-size: 18px;
	vertical-align: center;
}


.footer{
	height: 15%;
	background-color: #333333;
}


.footer_container{
	width: 100%;
	height: 100%;
}


.footer_logo{
	text-align: left;
	vertical-align: center;
	font-size:30px;
	font-family: "Lobster", cursive;
}


.footer_inforation_middle{
	text-align: center;
	vertical-align: top;
}

.footer_inforation_right{
	text-align: right;
	vertical-align: top;
}

.footer_inforation_copyright{
	text-align: center;
	vertical-align: center;
}


.footer_upwords{
	color: #71BDE0;
	font-size:14px;
	font-family: 'Pacifico', cursive;
}



.footer_downwords{
	color: #7F98A1;
	font-size:18px;
	font-family: 'Gloria Hallelujah', cursive;
}


.footer_copyright{
	color: #71BDE0;
	font-size:16px;
	font-family: 'Arvo', serif;
}

.footer_logo_link{
	text-decoration: none;
	color: #FFFFFF;
}


.footer_mail_link{
	text-decoration: none;
	color: #7F98A1;
}



.footer_logo_transparent{
	text-align: left;
	vertical-align: center;
	color: #999999;
	font-size:24px;
	font-family: "Lobster", cursive;
	text-decoration: none;
}


.footer_logo_transparent:hover{
	color: #FFFFFF;
}


.gHostman_signin{
	width: 40%;
	height: 45%;
	color: #000000;
	font-size: 20px;
	vertical-align: center;
}


.gHostman_content{
	height: 76%;
	border: 0px;
}


.gHostman_footer{
	height: 15%;
	background-color: #333333;
}


.logo{
	color: #FFFFFF;
	font-size:40px;
	font-family: "Lobster", cursive;
	text-decoration: none;
}



.input_special{
    float:left;
    border:2px solid #dadada;
    border-radius:7px;
    font-size:20px;
    padding:5px;
    margin-top:-10px;    
}

.input_special:focus { 
    outline:none;
    border-color:#9ecaed;
    box-shadow:0 0 10px #9ecaed;
}


.button_head{
	border: 0px;
	background-color: #333333;
	color: #999999;
	font-size:17px;
	/*font-family: 'Pacifico', cursive;*/
	font-family: 'Gloria Hallelujah', cursive;
	text-decoration: none;
	cursor:pointer
}

.button_head:hover{	
	color: #FFFFFF;
	text-decoration: none;
	
}



.button_head_small{
	border: 0px;
	background-color: #333333;
	color: #999999;
	font-size:13px;
	/*font-family: 'Pacifico', cursive;*/
	font-family: 'Gloria Hallelujah', cursive;
	text-decoration: none;
	cursor:pointer
}

.button_head_small:hover{	
	color: #FFFFFF;
	text-decoration: none;
	
}


.button_content{
	border:0px;
	background-color: transparent;
	background-image: url(../images/Bstarted_1.png);
	color: #FFFFFF;
	font-size:22px;
	font-family: 'Arvo', serif;
	cursor:pointer
}

.button_content:hover{
	background-image: url(../images/Bstarted_2.png);
}


.message{
	width: 100%;
	border: 0px;
	text-align: center;
	font-color: #1793d1;
}


.schedule_textarea{
	background-color: #1793d1;
	border: 0px;
	color: #FFFFFF;
	resize: none;
	font-size: 16px;
	overflow:hidden;
	font-family: 'PT Sans', sans-serif, 'Noto Sans CJK TC', Microsoft JhengHei;
}

.schedule_textarea_current{
	background-color: #62AB37;
	border: 0px;
	color: #000000;
	resize: none;
	font-size: 16px;
	overflow:hidden;
	font-family: 'PT Sans', sans-serif, 'Noto Sans CJK TC', Microsoft JhengHei;
}